.container {
  width: 700px;
  margin: 100px auto;
}

.heading,
.item {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.del,
.edit {
  cursor: pointer;
}
.edit {
  margin-right: 10px;
}
form {
  display: flex;
  align-items: flex-end;
  height: 40px;
  /* justify-content: center; */
}
label {
  display: inline-flex;
  flex-direction: column;
}
